<!-- include jquery -->
{% asset js/jquery-1.11.2.min %}
<!-- Bootstrap Core JavaScript -->
{% asset js/bootstrap.min %}

<!-- Plugin JavaScript -->
{% asset js/jquery.easing.min %}
{% asset js/jquery.tinycarousel.min %}
{% asset js/jquery.lazylinepainter.min %}
{% asset js/jquery.mousewheel.min %}
{% asset js/jquery.cycle.min %}
{% asset js/jquery.magnific-popup %}

<!-- include Masonry -->
{% asset js/isotope.pkgd.min %}
{% asset js/fit-columns %}
{% asset js/modernizr %}
{% asset js/retina.min %}

<!-- include menu animation -->
{% asset js/classie %}
{% asset js/cbpAnimatedHeader.min %}

<!-- include kenburns plugins -->
{% asset js/kenburns.min %}


<!-- include custom script -->
{% asset js/infinitescroll %}
{% asset js/on-page-scroll %}
{% asset js/kenburns-gallery %}
{% asset js/photo-gallery %}


<!-- include fullcalandar script -->
{% asset js/moment.min %}
{% asset js/fullcalendar %}
{% asset js/fullcalendar-fr-ca %}
{% asset js/fullcalendar-gcal %}

{% asset js/calendar %}

<!-- include contact-forms script -->

{% asset js/contact-forms %}

{% asset js/faq %}

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101087982-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-101087982-1');
</script>
