---
layout: page
---

<ul class="list-inline item-details">
  <li>
    Date: <strong> {{ page.date | date: "%Y-%m-%d" }} </strong>
  </li>
  {% if page.author %}
  <li>
    Auteur: <strong> {{ page.author }} </strong>
  </li>
  {% endif %}
  <li>
    Lien permanent: <strong><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> </strong>
  </li>
</ul>
<div class="row text-center">
  <img class="img-responsive img-centered" src="{{ page.image | prepend: site.baseurl }}">
</div>
<div class="row text-center">
  <p style="{font-style: italic;}"> {{ page.description}} </p>
</div>

<div class="row text-center">
  {{ content }}
</div>
